[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=5.0.2"
djangorestframework = "*"
psycopg2 = "*"
pillow = "*"
dj-rest-auth = {version = "*", extras = ["with_social"]}

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.2"
